{% extends "::base.html.twig" %}

{% block title %}{{'Lessons'|trans}}{% endblock %}

{% block content %}
<h1 style=text-align:center>{{'Here are the list of overcoming lessons'|trans}}</h1>
  <table class="table">
    <thead>
      <tr>
        <th>{{'DanceCategory'|trans}}</th>
        <th>{{'Day'|trans}}</th>
        <th>{{'Time slot'|trans}}</th>
        <th>{{'Level'|trans}}</th>
        <th>{{'Classroom'|trans}}</th>
        <th>{{'Number of male subcribers'|trans}}</th>
        <th>{{'Number of female subcribers'|trans}}</th>
        <th>{{'RemainingPlaces'|trans}}</th>
      </tr>
    </thead>
    {% for lesson in lessons %}
      <tbody>
        <tr>
      		<td>
      			<div class="bs-example">
      			    <!-- Button HTML (to Trigger Modal) -->
      			    <a href="#{{lesson.id}}" data-toggle="modal">{{lesson.danceCategory}}</a>
                   	<!-- Modal HTML -->
      			    <div id="{{lesson.id}}" class="modal fade">
      			      <div class="modal-dialog">
      			        <div class="modal-content">
      			          {% if (is_granted("IS_AUTHENTICATED_REMEMBERED")) or (is_granted('IS_AUTHENTICATED_FULLY'))%}

                        {% if (user in lesson.dancers) %}
                         
                         <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"
                          aria-hidden="true">&times;</button>
                          <h4 class="modal-title">{{'Unsubscription to lesson'|trans}}</h4>
                         </div>
                         <div class="modal-body">
                            <p>{{'Hi '|trans}} {{user.name}} {{user.surname}}({{user.email}})</p>
                            <p>{{'Would you like to unsubscribe to lesson :'|trans}}</p>
                            <p>{{lesson.danceCategory}} {{lesson.level|capitalize}} {{'the '|trans}} {{lesson.day|date('d/m/Y')}} {{'from '|trans}} {{lesson.begingAt|date('H:i')}} {{'to'|trans}} 
                              {{lesson.endAt|date('H:i')}}</p>
                            <p>{{'Classroom : '|trans}} {{lesson.classroom}} - {{'referent :'|trans}}  {{lesson.referent|capitalize}} - {{'trainer :'|trans}} </p>    
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel'|trans}}</button>
                            <a href="{{path('unregister_lesson', { 'id': lesson.id })}}" class="btn btn-primary">{{'Unsubscribe'|trans}}</a>
                          </div>    

                          {% else %}              
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                              <h4 class="modal-title">{{'Subscription to lesson'|trans}}</h4>
                            </div>  
                            {% if (lesson.remainingPlaces > 0) %}    
                              <div class="modal-body">
                                <p>{{'Hi '|trans}} {{user.name}} {{user.surname}}({{user.email}})</p>
                                <p>{{'Would you like to subscribe to lesson :'|trans}}</p>
                                <p>{{lesson.danceCategory}} {{lesson.level|capitalize}} {{'the '|trans}} {{lesson.day|date('d/m/Y')}} {{'from '|trans}} {{lesson.begingAt|date('H:i')}} {{'to'|trans}} 
                                {{lesson.endAt|date('H:i')}}</p>
                                <p>{{'Classroom : '|trans}} {{lesson.classroom}} - {{'referent :'|trans}}  {{lesson.referent|capitalize}} - {{'trainer :'|trans}} </p>    
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel'|trans}}</button>
                                <a href="{{path('register_lesson', { 'id': lesson.id })}}" class="btn btn-primary">{{'Confirm'|trans}}</a>
                              </div>
                            {% else %} 
                              <div class="modal-body">
                                <p>{{'Hi '|trans}} {{user.name}} {{user.surname}}({{user.email}})</p>
                                <p>{{'The lesson you want to attemp is alredeay complete'|trans}}</p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">{{'Close'|trans}}</button> 
                              </div>   
                            {% endif %}

                        {% endif %}

                      {% else %}
                        <div class="modal-body">
      					          <p>{{'You need to be connected in order to subscribe to lessons'|trans}}</p>
      					        </div>
      					        <div class="modal-footer">
      					          <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel'|trans}}</button>
      					          <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary">{{'Connexion'|trans}}</a>
      							    </div>
      			        </div>
                  {% endif %}    
               </div>
              </div>
            </div>
      		</td>
          <td>{{lesson.day|date('d/m/Y')}}</td>
          <td>{{lesson.begingAt|date('H:i')}} - {{lesson.endAt|date('H:i')}}</td>
          <td>{{lesson.level}}</td>
          <td>{{lesson.classroom}}</td>
          <td>{{lesson.numberOfMaleDancers}}</td>
          <td>{{lesson.numberOfFemaleDancers}}</td>
          <td>{{lesson.remainingPlaces}}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
{# {% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
{% endfor %} #}
{% endblock %}

