{% extends "::base.html.twig" %}

{% block body %}
  {# {%  include  'AppBundle:Lesson:index.html.twig' %} #}
<div class="lessonsubscription">
<p>{{'Hi '|trans}} {{dancer.name}}</p>
<p>{{'You ve subscribe to the following lesson :'|trans}}</p> 
<p>{{lesson.danceCategory}} {{lesson.level|capitalize}} {{'the '|trans}} {{lesson.day|date('d/m/Y')}} {{'from '|trans}} {{lesson.begingAt|date('H:i')}} {{'to'|trans}} 
{{lesson.endAt|date('H:i')}}</p>
<p>{{'Classroom : '|trans}} {{lesson.classroom}} - {{'referent :'|trans}}  {{lesson.referent|capitalize}} - {{'trainer :'|trans}} </p> 
<p>{{'We re please to see you soon'|trans}}</p>
<hr>
<img src="{{ asset('bundles/app/img/logo.jpg') }}" style="width:100px; height:50px" alt="amidanse logo"></img>
<p>Ami'Danse</p>
<p> 2 Rue du bonheur </p>
<p> 44200 Nantes </p>
{% endblock %}
