{% extends '::base.html.twig' %}
{% block content %}
	<div class="HomeContent">
	    <div class="row">
	        <div class="col-md-8">
	            <div id="slider">
	                <img src="{{ asset('bundles/app/img/danse-5.jpg') }}" alt="ami-danse-5" class="img-thumbnail">
	                <img src="{{ asset('bundles/app/img/danse-5.jpg') }}" alt="ami-danse-5" class="img-thumbnail">
	                {# <img src="{{ asset('bundles/app/img/danse-2.jpg') }}" alt="ami-danse-2" class="img-thumbnail"> #}
	                <img src="{{ asset('bundles/app/img/danse-5.jpg') }}" alt="ami-danse-5" class="img-thumbnail">
	                <img src="{{ asset('bundles/app/img/danse-5.jpg') }}" alt="ami-danse-5" class="img-thumbnail">
	                {# <img src="{{ asset('bundles/app/img/danse-6.jpg') }}" alt="ami-danse-6" class="img-thumbnail">
	                <img src="{{ asset('bundles/app/img/danse-7.jpg') }}" alt="ami-danse-7" class="img-thumbnail">
	                <img src="{{ asset('bundles/app/img/danse-8.jpg') }}" alt="ami-danse-8" class="img-thumbnail">
	                <img src="{{ asset('bundles/app/img/danse-9.jpg') }}" alt="ami-danse-9" class="img-thumbnail">#}
	            </div>
	        </div>
	        <div class="col-md-9" >
	        	<div class="col-md-3" id="listDanceStyle">
	        		{% for danceStyle in danceStyles %}
	        			{{danceStyle.name}}
	        			<ul id="listDanceCategory">
	        				{% for danceCategory in danceStyle.danceCategories %}
	        					<li>
	        						{{danceCategory.name}}
	        					</li>
	        				{% endfor %}	
	        			</ul>	
	        		{% endfor %}
	        	</div>	
	        </div>
	    </div> 
	</div>       
	<script src="{{ asset('bundles/app/js/slider.js') }}"></script>
{% endblock %}