{% trans_default_domain 'messages' %}
<footer class="navbar navbar-default" id="footer">
  {# <div class="container-fluid"> #}
    <div class="navbar-footer">
      <a class="navbar-brand" href="{{path('homepage')}}">{{ 'homepage'|trans }}</a>
      <a class="navbar-brand" href="#">{{ 'whoWeAre'|trans }}</a>
      <a class="navbar-brand" href="#">{{ 'legalMentions'|trans }}</a>
      <a class="navbar-brand" href="#">{{ 'mapSite'|trans }}</a>
      <a class="navbar-brand" href="#">{{ 'forum'|trans }}</a>
      <a class="navbar-brand" href="#">{{ 'contact'|trans }}</a>
    </div>
  {# </div> #}
</footer>    