{% trans_default_domain 'messages' %}
<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <a class="navbar-brand" href="{{path('homepage')}}">{{ 'homepage'|trans }}</a>
        <a class="navbar-brand" href="{{path('danceStyle')}}">{{ 'dances'|trans }}</a>
        <a class="navbar-brand" href="{{path('list_lessons')}}">{{ 'lessons'|trans }}</a>
        <a class="navbar-brand" href="{{path('diary')}}">{{ 'diary'|trans }}</a>
        <a class="navbar-brand" href="#">{{ 'forum'|trans }}</a>
        <a class="navbar-brand" href="#">{{ 'contact'|trans }}</a>
      </ul> 
    </div>
  </div>
</nav>    



